<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <progress-app></progress-app>
            </div>        
            <div class="col-sm-6">
                <div class="d-flex flex-row-reverse">
                    <try-app></try-app> 
                </div>      
            </div>       
                      
            <div class="row">
                <div class="col">
                    <h6>{{ instruction }}</h6>
                    <p>{{ phrases[1].phraseBR }}</p>

                    <div class="form-group" id="box">
                        <textarea class="form-control" 
                        rows="3"
                        (input)="updateResponse($event)"></textarea>
                    </div>     
                </div>      
            </div>    

            <div class="row" id="button">
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary" (click)="verifyResponse()">Check it!</button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
